{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<script>
	jQuery(document).ready(function(){
    		jQuery('.smarttable').dataTable(); 
	});
</script>

<table id='claves'  class="smarttable">
    <thead class="titulo" >
        <tr>
		<th>Servidor</th>
		<th>IP</th>
		<th>Tipo BD</th>
		<th>Usuario</th>
		<th>Clave</th>
			
        </tr>
    </thead>
    <tbody>
    {{for clave in claves:}}
		<tr>
			<td>{{=clave.f_servidor}}</td> 
			<td>{{=clave.f_ip}}</td>
			<td>{{=clave.f_tipobd}}</td> 
			<td>{{=clave.f_usuario}}</td> 	
			<td>{{=clave.f_clave}}</td> 			
		</tr>
    {{pass}}
    </tbody>
</table>
