{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<script>
jQuery(document).ready(function(){
    jQuery('.smarttable').dataTable(); 
     {{if not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>
<h2>Administracion de claves</h2>
<button class="boton" onclick="jQuery('#servidoradmin-table').slideToggle()">Mostrar/Ocultar Contenido</button>
[<a href="#nil" onclick="jQuery('#form').slideToggle();">Crear</a>]
<div id="form">
<h2>Nueva clave</h2>
{{=form}}
</div>

<br /><br />

<table id='servidoradmin-table'  class="smarttable">
    <thead class="titulo" >
        <tr>
            <th>Servidor</th><th>IP</th><th>Tipo BD</th>
			<th>Usuario</th>
			<th>Clave</th>
			
        </tr>
    </thead>
    <tbody>
    {{for clave in claves:}}
		<tr>
			<td>{{=clave.f_servidor}}</td> 
			<td>{{=clave.f_ip}}</td>
			<td>{{=clave.f_tipobd}}</td> 
			<td>{{=clave.f_usuario}}</td> 	
			<td>{{=clave.f_clave}}</td> 			
			<td>{{=button('Editar','edit_claves',clave.id)}}</td>
		</tr>
	
    {{pass}}
    </tbody>
</table>
