{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{extend 'layout.html'}}


<script type="text/javascript">
  <meta charset = "utf-8">  
<meta name = "viewport" content = "width=device-width, initial-scale=1">  
<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">  
<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">  
</script>  

</script>

<style type="text/css" media="all">
  .form_table { text-align: center; }
  .full_width .segment_header { text-align: center !important; }
  .q { float:none;display: inline-block; }
  table.matrix, table.rating_ranking { margin-left:auto !important;margin-right:auto !important; }

  
select, option {
    width: 200px;
}

table {
    border-collapse: collapse;
}

#contenedor{
        #background-color: #95abb4;
        #border:1px solid  #95abb4;
        #width: 100%;
        #text-align: left;

}
#cabecera{
        background-color:#E5BC7A;
        height:20%;
}
#menu{
        height:10%;
        background-color:#C8CACC;
}
#izquierda{
        height:50%;
        background-color: #95abb4;
        width:60%;
        #border:  #95abb4;  3px solid;
}
#derecha{
        background-color: #40b5e1 ;
        width:80%;
        #border: black; 10px solid;
        border-collapse: collapse;
        text-align: center;
        padding: 10px 10px;
        overflow: auto;
        border:1px solid #000000;
        overflow-y: scroll;
}

#botones{
        background-color: #40b5e1 ;
        width:100%;
        text-align: right;
        padding: 10px 10px;
        border-collapse: collapse;
}
#act{
        height:100%;
        background-color:white;
        width:100%;
 }

#pie{
        height:20%;
        background-color:#D3D1C1;
        clear:both;
        
#bd{
        height:10%;
        background-color:#BDD2EF;
        float:right;;
        width:30%;
        overflow: hidden;
        border: blue 3px solid;
        overflow: auto;


option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.form-box {
  padding: 8px; /*makes it look neat*/
  border-radius: 4px; /*or 2px*/
  border: 1px solid red;
}

.miDiv {
  border: 3px outset #afc0c7;
  background-color: #95abb4;    
  text-align: center;
}

textarea {
  resize: none;
}

textarea:invalid {
  border: 2px dashed red;
}

textarea:valid {
   border: 2px solid lime;
}

table {
  border-collapse: collapse;
}

caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}

.texto {font-size: 14px; font-family: 'Rock Salt', cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}

label {
  #color: white;
  padding: 8px;
  font-size: 14px; font-family: 'Rock Salt', cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}
}


input {
  font-size: 14px; font-family: 'Rock Salt', cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}
}

select {
  font-size: 14px; font-family: 'Rock Salt', cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}
}


.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */


.imagen {
  width: 8%;
  text-align: center;
}
.botones {
  width: 8%;
  text-align: right;
}

#separar {
  padding: 3%;
  display: inline-block;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: underline;
  color: #333333;
}

.boton {
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;
}
.boton:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}
.boton:hover:before {
width: 100%;
}

.boton:hover {
  background: #318aac;
  color: #fff !important;
}



.float-container {
    border: 2px solid #fff;
    padding: 3px;
    font-size: 13px;
    width: 100%;
}

.float-xchild {
    width: 100%;
    float: center;
    padding: 5px;
    border: 2px solid red;
}  

#container {width:100%; text-align:left;}



</style>

<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
   jQuery('#bd').hide();
   jQuery('#act').hide();
   actualiza_actividades;
   {{pass}}
});
</script>
{{=script}}


<!---<div id='formulario' class='float-container' >
-->
<div  id="derecha" >
<form  action="" enctype="multipart/form-data" method="post" >
<form class="well" action="" enctype="multipart/form-data" method="post">
	<input type="hidden"  name="_formname" value="formaActHTML"/>
		<table class="table table-bordered table-striped">
            <div id="container" >
			<tr>
        <td >
					<label for="cod_asig" class="texto">Proyecto</label>
					<select  class="obligatorio texto" name="cod_asig" id="cod_asig" STYLE="width: 300px; height:40px">
						<option value="8"/>
						{{for datos in proyectos_asignados:}}
							<option value="{{=datos.asignacion.id}}">{{=str(datos.proyectos.descri) }}</option>
						{{pass}}
					</select>
				</td>
          
			    <td style='display:block  ' >
						<label for="descripcion" class="texto" >Descripción de la actividad</label>
						<textarea onfocus="marcar(this);" style='overflow: auto; position: relative; width: 700px;' class="texto obligatorio" autofocus  name="descripcion" id="descripcion" type="text"  rows="5" cols="1" maxlength = "700" /></textarea>
					</td></tr>	
          </div>
		</table>
    <table class="table table-bordered table-striped">
      <div id="container">
      <tr>
        <td>
					<label for="fecha_actividad">Fecha</label>
					<input STYLE="width: 110px; " value="date();" onfocus="marcar(this);" class="texto obligatorio"  name="fecha_actividad" id="fecha_actividad" type="date"  required />
        </td> 
        <td> 
					<label for="hora_inicio">Hora inicio </label>
					<input  class="texto obligatorio" onchange="total(); calcula_horas_extras();""   
                    name="hora_inicio" id="hora_inicio" type="time" value="08:00"   required />
        </td>
        <td>            
					<label for="hora_fin">Hora fin </label>
					<input class="texto obligatorio" onchange="total(); calcula_horas_extras();" name="hora_fin" id="hora_fin" type="time" value="12:30"   required />
        </td>
        <td>  
					<label for="horas_diurnas">Horas diurnas </label>
					<input class="texto  obligatorio" STYLE="width: 50px; " name="horas_diurnas" id="horas_diurnas" type="string"  value="4.50" required />
        </td>
        <td>  
				 <label for="horas_nocturnas">Horas nocturnas</label>
                 <input class="texto" STYLE="width: 40px; color: xyellowgreen; " name="horas_nocturnas" id="horas_nocturnas" type="string"  value="0.00" required />
        </td>
        <td>BD</td>
         </tr>
 
         <tr>   
         <td>      
					<label for="tipo">Tipo </label>
					<select id="tipo" name="tipo" style="width:120px" class="texto obligatorio">
							<option value="P">PRESENCIAL</option>
							<option value="R">REMOTO</option>
						</select>
				</td>
        <td>	
					<label for="producto">Producto </label>
					<select id="producto" name="producto" style="width:120px" class="texto obligatorio">
							<option value="CORREO">CORREO</option>
							<option value="INFORME">INFORME</option>
							<option value="DOCUMENTO">DOCUMENTO</option>
							<option value="CC">CC</option>
							<option value="WHATSAPP">WHATSAPP</option>
						</select>
				</td>
        <td>	
					<label for="completado">Estatus</label>
					<select id="completado" name="completado" style="width:150px" class="texto obligatorio">
							<option value="COMPLETADA">COMPLETADA</option>
							<option value="NO COMPLETADA">NO COMPLETADA</option>
						</select>
			</td>
</td>

<div id="botones">
<td colspan=2">  
<button id="boton-principal" name="boton-principal" class="boton" type="submit" value="Guardar" /> <b>G</b>uardar 
</button>
<button id="boton-limpiar"   name="boton-limpiar"   class="boton" type="reset"   onclick="limpiar()" /> <b>L</b>impiar 
</button>
</td>
</div>
<td class="imagen">
<h4>
{{=A(IMG( _src=URL(request.application,'static/images','bd20.svg'),
          _alt="Click Nombre de Aplicación",
	      _title="Click Consulta Appl",	
	      _onclick="jQuery('#bd').slideToggle();",				
          _class="click",  
          _style="color:blue; font-size: 14px; font-family: 'Rock Salt', cursive; caption-side: bottom; text-align: right;  letter-spacing: 0px; border:1; width:20px; height:20px"))}}
</h4>
</span>
</div>
</td>
</tr>
</table>

<datalist id="listalimitestiempo">
  <option value="06:40">
  <option value="08:24">
  <option value="12:31:30">
  <option value="23:59:59.999">
</datalist>

<datalist id="tipo">
  <option value="R">
  <option value="P">
</datalist> 

<datalist id="completado">
  <option value="COMPLETADA">
  <option value="NO COMPLETADA">
</datalist> 

<datalist id="producto">
  <option value="INFORME">
  <option value="CORREO">
  <option value="APE">
  <option value="OTROS">
</datalist> 
</form>
</div>


<div  class="float-child" id="bd" style="text-decoration: bold; font-size: 10px; width: 80%; height: 150px; overflow-y: scroll; float: left;">
<table id="basedatos" class="table table-bordered table-striped">
	<col style="width:20%">
	<col style="width:20%">  
	<col style="width:20%">  
	<col style="width:40%">  
<thead> <tr><th>Servidor</th><th>IP</th><th>BD</th><th>Descripcion</th> </tr></thead>
<tbody>
{{for a in appl:}}
<tr><td>{{=a.servidor.nombre}}</td><td>{{=a.servidor.ip}}</td><td>{{=a.nombre}}</td><td>{{=a.appl}}</td></tr>
{{pass}}
</tbody>
</table>
</div>

<div id="act"></div>

</div> <!-- div principal -->


<script type="text/javascript">
 window.onload = function () {

        document.getElementById("boton-principal").style.backgroundColor = "#318aac";
        document.getElementById("boton-limpiar").style.backgroundColor = "#318aac"

        document.getElementById("boton-principal").onmouseover = function ()
        {
            this.style.backgroundColor = "green";
        }

        document.getElementById("boton-principal").onmouseout = function ()
        {
            this.style.backgroundColor = "#318aac";
        }

        document.getElementById("boton-limpiar").onmouseover = function ()
        {
            this.style.backgroundColor = "green";
        }
      
        document.getElementById("boton-limpiar").onmouseout = function ()
        {
            this.style.backgroundColor = "#318aac";
        }

    }	
	
$(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#fecha_actividad').val(today);
    actualiza_actividades_fechahoy($('#fecha_actividad').val(today));
    
    document.getElementById("cod_asig").focus();
    document.getElementById("cod_asig").value = 6;
});


function hoy(){
   var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#fecha_actividad').val(today);
    actualiza_actividades_fechahoy($('#fecha_actividad').val(today));

}

$('form').submit(function(){
			// Validando los campos obligatorios
			flag = true;
			var 
			campos=$('.obligatorio');
			campos.each(function(){
				if(!$(this).val()){
					//alert('validando campos obligatorio');
					 flag = false;
				}});

			
			if(!flag){
				alert('Faltó llenar algún campo o tiene valor cero');
				return false;
			}else{
				actualiza_actividades;
				//alert('Actividad creada...');
				}}
				);
	

$('#cod_asigx').change(function(){	
			alert($(cod_asig).val());
			});



function actualiza_actividades(){
		ajax('{{=URL("default", "func_mac")}}',['fecha_actividad'], 'act');	
			jQuery('#act').show();
}

function actualiza_actividades_fechahoy(){
		ajax('{{=URL("default", "func_mac")}}',['fecha_actividad'], 'act');	
			jQuery('#act').show();
}


$('#fecha_actividad').change(function(){
			ajax('{{=URL("default", "func_mac")}}',['fecha_actividad'], 'act');	
			jQuery('#act').show();
		})

$('#cod_asig').change(function(){
			ajax('{{=URL("default", "func_mac")}}',['fecha_actividad'], 'act');	
			jQuery('#act').show();
		})


	
function valida_actividad(){
if ($('#descripcion').val() ){
$.post("{{=URL('valida_actividad')}}", [descipcion], function(result){
				alert('Entra.....' + $('#descripcion').val());	
				if(result=='no'){
                    $("#resultbox").removeClass().addClass('success').text('').fadeIn(900,1);
					existe=false;
				} else {
					$("#resultbox").removeClass().addClass('error').text('Proyecto ya asignado a este analista').fadeIn(900,1);
					existe=true;}
})

}}


function verificaAmPm() {
        t = document.getElementById('hora_fin').value
        var [h, m] = t.split(":");
        ampm = ((h % 12 + 12 * (h % 12 == 0)) + ":" + m, h >= 12 ? 'PM' : 'AM');
    }

function total() {
        var inicio = timeToDecimal(document.getElementById("hora_inicio").value);
        var fin = timeToDecimal(document.getElementById("hora_fin").value);
        var horas;
        if ( inicio <= fin ) {
            horas = fin - inicio; 
        }
        else
        { horas = 0; }
        document.getElementById("horas_diurnas").value = horas;
    };

function timeToDecimal(t) {
    t = t.split(':');
    return parseFloat(parseInt(t[0], 10) + parseInt(t[1], 10)/60);
} 

function calcula_horas_extras() {
   	    var inicio = document.getElementById("hora_inicio").value;
        var fin = document.getElementById("hora_fin").value;
        var horas_inicio = timeToDecimal(document.getElementById("hora_inicio").value);
        var horas_fin = timeToDecimal(document.getElementById("hora_fin").value);
        var h_inicio = (inicio.split(":")[0]);
        var hora_fin = (fin.split(":")[0]);
        var horas_diurnas = 0;
        var extra = 0;
        var tot_diurnas = 0;
        
        verificaAmPm();
        if (hora_fin > 18 && ampm == 'PM') {
            //alert("Paso de las 6 PM: " + hora + " horas,  se calcularan horas extras nocturnas ");
          
            if (h_inicio >= 18){
				        extra = horas_fin - horas_inicio;
			       } 
			  else {
				  extra = horas_fin - 18;
		    }
		  
        horas = horas_fin - horas_inicio;
		tot_diurnas = horas - extra;
        document.getElementById("horas_nocturnas").value = extra.toFixed(2);
        document.getElementById("horas_diurnas").value = tot_diurnas.toFixed(2);//(tot_diurnas);
        //document.getElementById("descripcion").value = extra;//(tot_diurnas);
        }
    }

var ultimo = null;

function marcar(elemento) {
  ultimo = elemento;
}

function limpiar() {
  if (ultimo != null) {
    ultimo.value = "";
    hoy();
  }
}

</script>
