{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
   {{if form and not form.errors:}}jQuery('#form').hide();{{pass}}
   ///jQuery('#tab1').hide();
});
</script>
<style>
.titulo {
 background-color: white;
 color: green;
 font-size: 12px;
 text-align: center;
 font-stretch: extra-condensed;
 font-family: Arial, Helvetica, sans-serif;
 #box-shadow: 8px 8px 100px #444;
 background-image: linear-gradient(180deg, #fff, #ddd 80%, #ccc);
}
.accion {
 background-color: white;
 color: black;
 font-size: 12px;
 text-align: left;
 font-stretch: extra-condensed;
 #font-family: Arial, Helvetica, sans-serif;
}
</style>


{{if servidor:}}
<h2>Base de Datos en {{=nombre_servidor(servidor.id)}}</h2>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">Crear</a>]
<div id="form">
<h2>Nueva Base de Datos</h2>
{{=form}}
</div>
{{else:}}
<h1>Cambio de clave y desbloqueo de cuentas</h1>
{{pass}}




<br /><br />
<table id="tabla" class="smarttable">
<thead>
  <tr>
    		<th>Instancia-Cluster</th>
		<th>Tipo BD</th>
		<th>Version</th>
		<th>Usuario Servidor</th><th>Clave Servidor</th>
		<th>Usuario BD</th><th>Clave BD</th><th>Appl</th>
    		<th>ST Mon</th><th>Mon</th><th>Servidor</th><th>Cant. Esquemas</th>
		<th>Accion</th>
  </tr>
</thead>
<tbody>
{{for basedato in basedatos:}}

<tr>
<td>{{=basedato.nombre}}</td>
<!--<td>{{=cache.ram('c%s'%basedato.tipobd_id, lambda:basedato.tipobd_id.descri,10)}}</td> -->
<td>{{=basedato.tipobd_id.descri}}</td>
<td>{{=basedato.version_id.descri}}</td>
<td>{{=basedato.usuario}}</td>
<td>{{=basedato.clave}}</td>
<td>{{=basedato.usuario_bd}}</td>
<td>{{=basedato.clave_bd}}</td>
<td>{{=basedato.appl}}</td>
<td>{{=show_status(basedato.status_mon)}}</td> 
<!--<td>{{=link_dbmon(basedato.nombre)}}</td>-->
<td>{{=basedato.nombre}}</td>
<!--<td>{{=link_servidor(basedato.servidor)}}</td> -->
<td>{{=basedato.servidor.nombre}}</td>  
<!--<td>{{=A(cache.ram('c%s'%basedato.servidor, lambda:basedato.servidor.nombre,100))}}</td> -->


<td class="titulo">{{=int(link_cuentaesq(basedato))}}
{{=button('Esquemas registrados','list_esquemas',basedato.id)}}
</td>
<td>
<div class="product_box2 margin_r_5" position="center">
[<a style="color:red" class="titulo1x" href="{{=URL(r=request,c='default',f='func_lista_bd_online_bd',vars=dict(servidor=basedato.servidor, usuario=basedato.usuario, clave=basedato.clave, tipobd=basedato.tipobd_id.descri, home=basedato.home, puerto=basedato.puerto))}}">Estructura Online</a>]
</div>

<div class="product_box2 margin_r_5" position="center">
[<a style="color:red" class="titulo1x" href="{{=URL(r=request,c='default',f='desbloq_usuarios',vars=dict(servidor=basedato.servidor, usuario=basedato.usuario, clave=basedato.clave, tipobd=basedato.tipobd_id.descri, home=basedato.home, puerto=basedato.puerto, instancia=basedato.nombre))}}">Alter user</a>]
</div>

</td>

</tr>
{{pass}}
</tbody>
</table>
