{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
   {{if not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>
<h2>Lista de Localidades</h2>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">Crear</a>]
<div id="form" >
<h2>Nueva Localidad</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
    <tr>
      <th>Nombre</th><th>Accion</th>
    </tr>    
</thead>
<tbody>
{{for company in companies:}}
    <tr >
       <td>{{=link_company(company)}}</td>   
       <td>{{=button('contactos','list_persons',company.id)}}
       {{=button('editar','edit_company',company.id)}}
	   {{=button('ver','view_company',company.id)}}</td>
    </tr>
{{pass}}
</tbody>
</table>
