{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

{{=script}}	

<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
   {{if form and not form.errors:}}jQuery('#form').hide();{{pass}}
   ///jQuery('#tab1').hide();
});
</script>

<style>
.titulo {
 background-color: white;
 #color: #ddffdd;
 font-size: 12px;
 text-align: center;
 font-stretch: extra-condensed;
 font-family: Arial, Helvetica, sans-serif;
 #box-shadow: 8px 8px 100px #444;
 #background-image: linear-gradient(10deg, #ccc 50%, #bbb 90%, #bbb);
 border-width:1px;  
 border-style:solid;
 box-shadow: 3px 3px #888888;
}
.accion {
 background-color: white;
 color: black;
 font-size: 12px;
 text-align: left;
 font-stretch: extra-condensed;
 #font-family: Arial, Helvetica, sans-serif;
}
</style>

  

{{if basedato:}}
<h2>Política de respaldos {{=nombre_basedatos(basedato.id)}}</h2>
<div style="text-align:left">
  {{=A('Regresar',_href = URL('list_basedatos',args=request.args(0)),_class="btn")}}
</div>

[<a href="#nil" _class="btn" onclick="jQuery('#form').slideToggle();">Crear nueva politica</a>]
<div id="form">
<h2>Nueva politica</h2>
{{=form}}
</div>

{{else:}}
<h4>Política de respaldos</h4>
{{pass}}

{{=A(IMG( _src=URL(request.application,'static/images','csv.png'),
          _alt="CSV",
	  _title="Exportar a CSV",					
          _class="click",  _style="border:0;width:30px;height:30px"),
	  _href=URL(r=request,c='default',f='export_to_csv',args=['matriz_respaldo']))}},

<div class="row">
<table style="width:100%" id="list_matriz_respaldo" class="table table-bordered table-striped" style="font-size: 12px;">
	<col style="width:2%">
	<col style="width:2%">
	<col style="width:2%">  
	<col style="width:2%">  
	<col style="width:2%">  
	<col style="width:3%">  
	<col style="width:2%">  
	<col style="width:2%">  
	<col style="width:1%">  
	<col style="width:1%">  
	<col style="width:1%"> 
	<col style="width:1%"> 
	<col style="width:1%"> 
	<col style="width:1%"> 
	<col style="width:1%"> 
<thead>
<tr>
		<th>Servidor</th>
		<th>Instancia</th>
		<th>Descripción</th>
		<th>Tipo Back</th>
		<th>Back Arch</th>
		<th>Ret</th>
		<th>Back Full</th>
		<th>Ret</th>
    	<th>Back Full Sem</th>
		<th>Ret</th>
		<th>Back Full Men</th>
		<th>Ret</th> 
		<th>Networker</th>
		<th>Rman Ver</th>
		<th>Acción</th>
		
</tr>
</thead>
<tbody>
{{for matriz in matriz_respaldo:}}
<tr>
<td style="font-weight: bold;" class="titulo" >{{=(matriz.servidor_id.nombre)}}</td>
<td style="font-weight: bold;" class="titulo">{{=matriz.basedatos_id.nombre}}</td>

<td class="titulo">{{=matriz.descri}}</td>
<td class="titulo">{{=show_status(matriz.tipo_backup)}}</td>
<td class="titulo">{{=matriz.b_archive}}</td>
<td class="titulo" style="font-weight: bold;">{{=matriz.ret_b_archive}}</td>
<td class="titulo">{{=matriz.b_full}}</td>
<td class="titulo" style="font-weight: bold;">{{=matriz.ret_b_full}}</td>
<td class="titulo">{{=matriz.b_full_boveda_sem}}</td>
<td class="titulo" style="font-weight: bold;">{{=matriz.ret_b_full_boveda_sem}}</td>
<td class="titulo">{{=matriz.b_full_boveda_men}}</td>
<td class="titulo" style="font-weight: bold;">{{=matriz.ret_b_full_boveda_men}}</td>
<td class="titulo">{{=matriz.networker}}</td>
<td class="titulo" style="font-weight: bold;">{{=matriz.rman_ver}}</td>
<td class="titulo">
{{=A(IMG( _src=URL(request.application,'static/images','edit-1.ico'),
          _alt="Editar",
	  _title="Editar Base de Datos",					
          _class="click",  _style="border:0;width:30px;height:30px"),
	  _href=URL(r=request,c='default',f='edit_matriz_respaldo',args=[matriz.id]))}}

</td>
</tr>
{{pass}}
</tbody>
</table>
</div>

</html>
