{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
   {{if form and not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>

{{if persona:}}
<h1>Tareas de {{=persona.first_name}}</h1>
{{=button('calendar for '+persona.first_name,'calendar',persona.id)}}
{{else:}}
<h2>Todas las tareas por hacer</h2>
{{pass}}
{{=button('calendario ','calendar')}}
[<a href="#nil" onclick="jQuery('#form').slideToggle();">Crear</a>]
<div id="form">
<h2>Nueva tarea</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
  <tr>
     <th>Creado en</th><th>Tipo</th><th>Titulo</th>
     <th>Inicio/Fin</th><th>Estatus</th><th>Accion</th>
  </tr>
</thead>
<tbody>
{{for task in tasks:}}
<tr>
<td>{{=task.created_on}}</td>
<td>{{=task.task_type}} {{=task.persona.first_name if task.persona else ''}}</td>
<td>{{=task.title}}</td>
<td>{{=task.start_time}}<br/>
{{=task.stop_time}}</td>
<td>{{=task.status}}</td>
<td>
{{=button('ver','view_task',task.id)}}
{{=button('editar','edit_task',task.id)}}
</td>
</tr>
{{pass}}
</tbody>
</table>
