{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{response.files.append(URL(r=request,c='static',f='jqModal.css'))}}
{{response.files.append(URL(r=request,c='static',f='jqModal.js'))}}
{{extend 'layout.html'}}
<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable(); 
   {{for log in logs:}}jQuery('#dialog{{=log.id}}').jqm({trigger: '#trigger{{=log.id}}'});{{pass}}
   {{if not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>
<h1>Actividades de {{=link_basedatos(basedatos)}} servidor {{=link_servidor(basedatos.servidor)}}</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">Crear</a>]
<div id="form">
<h2>Nueva actividad</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
  <tr>
     <th>Creado en</th><th>Por</th><th>Actividades</th><th>Acción</th>
  </tr>
</thead>
<tbody>
{{for log in logs:}}
<tr>
<td>{{=log.created_on}}</td>

<td>{{=log.created_by.first_name}} {{=log.created_by.last_name}}</td>

<td>
 {{=(log.body)}}
</td>
<td>
[{{=A('editar',_href=URL('default','edit_logs_basedatos',args=(log.id)))}}]
</td>

</tr>
{{pass}}
</tbody>
</table>
