{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<script>
jQuery(document).ready(function(){
   jQuery('.smarttablex').dataTable();
   
   ///jQuery('#tab1').hide();
});
</script>

{{=script}}
<br /><br />
<div class="row">
<table style="width:100%" id="list_dba" class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Login</th><th>Nombres</th><th>Apellidos</th><th>Correo</th>
    <th>Dirección</th><th>Telefono</th><th>Extensión</th><th>Accion</th>
  </tr>
</thead>
<tbody>
{{for dba in dbas:}}
<tr>
<td>{{=dba.username}}</td>
<td>{{=dba.first_name}}</td>
<td>{{=dba.last_name}}</td>
<td>{{=dba.email}}</td>
<td>{{=dba.direccion}}</td>
<td>{{=dba.telefono}}</td>
<td>{{=dba.extension}}</td>
<td>
	{{=A(IMG( _src=URL(request.application,'static/images','edit-1.ico'),
          _alt="Editar",
	  _title="Editar registro",					
          _class="click",  _style="border:0;width:15px;height:15px"),
	  _href=URL(r=request,c='default',f='edit_dba',args=[dba.id]))}}	
	  
	  
{{=A(IMG( _src=URL(request.application,'static/images','list-task.png'),
          _alt="Tareas",
	  _title="Lista de Tareas",					
          _class="click",  _style="border:0;width:15px;height:15px"),
	  _href=URL(r=request,c='default',f='list_tasks',args=[dba.id]))}}
	 
</td>
</tr>
{{pass}}
</tbody>
</table>
</div>
