{{response.files.append(URL(r=request,c='static',f='datatables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='datatables.min.css'))}}

{{extend 'layout.html'}}
<html lang="es">

<head>
    <meta charset="utf-8"/>
</head>
<h3><a target="_blank" href="https://www.gyrocode.com/articles/jquery-datatables-how-to-expand-collapse-all-child-rows/">jQuery DataTables: How to expand/collapse all child rows</a> <small>Responsive extension</small></h3>

<button id="btn-show-all-children" type="button">Expand All</button>
<button id="btn-hide-all-children" type="button">Collapse All</button>
<body>

<table id="example" class="display table table-bordered table-striped" cellspacing="0" width="100%" >
<thead>
  <tr class="header">
	<th>Proyecto</th>
	<th>Analista</th>
	<th class="none" >Actividad</th>
	<th class="none" >Fecha Actividad</th>
  </tr>
</thead>
 <tfoot>
        <tr>
			<th>Proyecto</th>
			<th>Analista</th>
			<th>Actividad</th>
			<th>Fecha Actividad</th>
        </tr>
    </tfoot>

<tbody>
{{for a in todas:}}
<tr>
<td>{{=a.asignacion.cod_proyecto.descri}}</td>
<td>{{=a.asignacion.analista.first_name}}</td>
<td>{{=a.actividades.descripcion}}</td>
<td>{{=a.actividades.fecha_actividad}}</td>
</tr>
{{pass}}
</tbody>

</table>



</body>
</html>

<script>
$(document).ready(function (){
    var table = $('#example').DataTable({
        'responsive': true
    });

    // Handle click on "Expand All" button
    $('#btn-show-all-children').on('click', function(){
        // Expand row details
        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
    });

    // Handle click on "Collapse All" button
    $('#btn-hide-all-children').on('click', function(){
        // Collapse row details
        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
    });
});
</script>
