{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
   {{if form and not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>

{{if guardias:}}
<h1>Tareas de fecha </h1>
{{pass}}
[<a href="#nil" onclick="jQuery('#form').slideToggle();">Crear</a>]
<div id="form">
<h2>Nueva tarea</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
  <tr>
	<th>Tipo de tarea</th>
	<th>Novedad</th>
	<th>Creado en</th>
	<th>Fecha/Hora ocurrencia | Hora final</th>
	<th>Tiempo de Indisponibilidad</th>
	<th>Impacto</th>
	<th>Diagnostico</th>
	<th>Solucion</th>
	<th>Accion</th>
  </tr>
</thead>

<tbody>
{{for log in tareas:}}
<tr>
<td>{{=log.task_type}}</td>
<td>{{=log.title}}</td>
<td>{{=log.created_on}}</td>
<td>{{=log.start_time}} | {{=log.end_time}}</td>
<td>{{=log.duracion}}</td>
<td>{{=log.impacto}}</td>
<td>{{=log.body}}</td>
<td>{{=log.solucion}}</td>

<td >
{{=button('ver','view_task_guardias',log.id)}}
{{=button('editar','edit_task_guardias',log.id)}}
<!--{{=A('[Enviar por Correo]',_href="mailto:%s"%log.created_by.email)}}-->
{{=button('Enviar Correo','envia_correo',log.id)}}
</td>

</tr>
{{pass}}
</tbody>

</table>
