<html lang="es">
<head>
    <meta charset="utf-8"/>
</head>

{{response.files.append(URL(r=request,c='static',f='datatables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='datatables.min.css'))}}

{{extend 'layout.html'}}
{{=script}}
<script>
jQuery(document).ready(function(){
	jQuery('.smarttable').dataTable();
   {{if formaOP and not formaOP.errors:}}jQuery('#form').hide();{{pass}}
});
</script>

<style>
xbody {
  background: #ffe;
}
div {
  xwidth: 400px;
  xheight: 250px;
  xbackground: #fd9;
  xmargin: 30px auto 0;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}
</style>

{{=A(T('Exportar a CSV por fecha'), _class='btn btn-primary', _onclick="jQuery('#form').slideToggle();")}}

<br>
<div id="form">
<h5>Rango de fechas a exportar</h5>
<form width="80%" class="well" action="" enctype="multipart/form-data" method="post">
	<input type="hidden"  name="_formname" value="formaOPHTML"/>

					<label for="desde">Desde</label>
					<input class="string Estatico2cm obligatorio" name="desde" id="desde" type="date"  />

					<label for="hasta">Hasta</label>
					<input class="string Estatico2cm obligatorio" name="hasta" id="hasta" type="date" />
					
<input name="boton-principal" class="button" type="submit" value="Ejecutar" />
</form>
</div>
<br>

<table id="list_detalle_act4x" class="detail table table-bordered table-striped">
	<col style="width:10%">
	<col style="width:60%">
	<col style="width:3%">  
	<col style="width:7%">  
    <thead>  
		<tr><th colspan="">
			<button class="show">Mostrar todos</button>
			<button class="hide">Esconder todos</button>
			</th>
			<th></th>
			<th></th>
			<th></th>
			
			
    <tr>  
		<th colspan="0">ANALISTA </th>  
        <th colspan="0">DESCRIPCION DEL PROYECTO Y SUS ACTIVIDADES</th>  
       
        <th>HORAS EJECUTADAS</th>  
        <th>% COMPLETADO</th>  
        <th></th>
    </tr>  
</thead>  
<tbody>  
{{proy_ant=''}}
{{det=0}}
{{for a in asignaciones:}}

	{{query=(db.actividades.cod_asig==a.id)}}
	{{f=db.actividades(query)}}
	{{if f:}} <tr class="header parent" id="{{a.id}}" title="Click to expand/collapse" style="cursor: pointer; background: #ffe;   color: black; font-size: 14px; font-weight:bold;}">
	{{else:}} <tr class="header parent" id="{{a.id}}" title="Click to expand/collapse" style="cursor: pointer; background-color: #565555;  color: white; font-size: 14px;">
	{{pass}}
	




<td>{{=a.analista.first_name}} {{=a.analista.last_name}}</td>
<td colspan="1">{{=a.cod_proyecto.descri}}</td>
<td style="text-align: center;">{{=a.horas_ejecutadas}}</td>
<td style="text-align: center;">{{=a.porc_completado}}</td>
<td></td>
</tr>


{{for ac in db(db.actividades.cod_asig==a.id).select(orderby="actividades.fecha_actividad desc, hora_inicio"):}}
<tr class="child-{{ac.id}}" style="display: none; font-stretch: extra-condensed; font-size: 15px; ">

<td></td>
<td colspan="0">{{=ac.descripcion}}</td>
<td style="text-align: center;">{{=ac.fecha_actividad}}</td>
<td style="text-align: center;">{{=ac.hora_inicio}}</td>
<td style="text-align: center;">{{=STRONG(show_status(ac.completado))}}</td>

{{pass}}

</tr>

{{pass}}
</tbody>

</table>



</body>
</html>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  -->
<script type="text/javascript">  
	//var hoy = new Date();
	//var now = new Date();
	//var today = now.getFullYear() + '-' + 
			//(now.getMonth() + 1)  + '-' + 
			//("0" + now.getDate()).slice(-2) + ' ' + 
			//now.getHours() + ':' + 
			//now.getMinutes() + ':' + 
			//now.getSeconds()

$(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    
    var d = new Date(); // today!
	var x = 6; // go back 6 days!
	d.setDate(d.getDate() - x);
	var month6 = (d.getMonth() + 1); 
	var day6 = d.getDate();
	
	if (month6 < 10) 
        month6 = "0" + month6;
    if (day6 < 10) 
        day6 = "0" + day6;
	
	
    var today6 = d.getFullYear() + '-' + month6 + '-' + day6;
    
    $('#desde').val(today6);
    $('#hasta').val(today);
});

    $(document).ready(function() {
      $('table.detail').each(function() {
        var $table = $(this);
        $table.find('.parent').click(function() {
            $(this).nextUntil('.parent').toggle(); // must use jQuery 1.4 for nextUntil() method
            
    });
         
        var $childRows = $table.find('tbody tr').not('.parent').hide();
        $table.find('button.hide').click(function() {
            $childRows.hide();
        });
        $table.find('button.show').click(function() {
            $childRows.show();
        
        });
          
    });
});


	
	$('#desde2').change(function(){
			alert('Fechas erradas script');
	});
		
	var existe = false;
	$('form').submit
	(
		function()
		{
			// Validando los campos obligatorios
			flag = true;
			campos=$('.obligatorio');
			campos.each(function() 
			{
				if(!$(this).val())
				{
					//alert('validando campos obligatorio');
					 flag = false;
				}
			});

			if(!flag)
			{
				alert('Debe introducir las fechas');
				return false;
			}
			
			if($(desde).val() > $(hasta).val())
				{
					alert('Fechas hasta menor que fecha desde');
					return false;
				}
				
			if($(desde).val() > today )
				{
					alert('Fechas desde mayor a la actual');
					return false;
				}
			
			if($(hasta).val() > today )
				{
					alert('Fechas hasta mayor a la actual');
					return false;
				}
			
			
		});  
		


</script> 
