{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{extend 'layout.html'}}



{{=script}}

<legend>
MODIFICAR PROYECTOS ASIGNADOS
</legend>


{{if asignaciones:}}

<small>
<div class="row">
<table id="asignacion" class="table table-bordered table-striped" style="font-size: 12px;" >
	<col style="width:5%">
	<col style="width:5%">
	<col style="width:5%">  
	<col style="width:5%">  
	<col style="width:5%">  
	<col style="width:40%">  
	<col style="width:5%">  
	<col style="width:5%">  
	<col style="width:5%">  
	
<thead>
  <tr>
    <th>Analista</th><th>Fecha asignacion</th><th>Fecha Vcto</th><th>Prioridad</th><th>Status</th><th>Proyecto</th>
    <th>Horas Ejecutadas</th><th>% Completado</th><th>Accion</th>
  </tr>
</thead>

<tbody>
{{for r in asignaciones:}}
<tr>

<td> {{=r.asignacion.analista.first_name}} {{=r.asignacion.analista.last_name}}</td>
<td> {{=(r.asignacion.fecha_asig)}}</td>
<td> {{=(r.asignacion.fecha_vcto)}}</td>
<td> {{=STRONG(show_status(r.asignacion.prioridad))}}</td>
<td> {{=STRONG(show_status(r.asignacion.status))}}</td>
<td> {{=r.asignacion.cod_proyecto.descri}}</td>
<td> {{=(r.asignacion.horas_ejecutadas)}}</td>
<td> {{=(r.asignacion.porc_completado)}}</td>
{{=TD(A(
                IMG(
                    _src=URL(request.application,'static/images','edit-1.ico'),
                    _alt="Editar",
					_title="Editar",					
                    _class="click imagenes",
                    _width=30,
					_height=15,
					
                ),
                _href=URL(r=request,c='default',f='edit_asignacion',vars=dict(asignacion=r.asignacion.id))
            ),
			
			)}}

</tr>
{{pass}}
</tbody>
</table>
</div>
</small>

{{else:}}
<p>No hay registros creados aun! </p>
{{pass}}
</HTML>


