{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}

<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
});
</script>
{{extend 'layout.html'}}
<div class="container py-4">
    <h2 class="mb-4 text-primary"><i class="fas fa-list-alt me-2"></i>Listado de tipo de DB</h2>
    <div class="mb-3">
        {{=script}}
    </div>
    <div class="table-responsive">
        {{=form}}
    </div>
</div>
