{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
});
</script>

<h2 id='tit'>
		  Monitor de Bases de Datos Metropolitana </h2>


<table id='monitoradmin-table'  class="smarttable">
    <thead class="titulo" >
        <tr>
            <th>Fecha</th><th>Servidor</th>
			<th>Tipo</th>
			<th>Base de Datos</th>
			
			<th>Status BD</th><th>Servicio</th><th>Bk log</th>
			<th>Bk fisico</th><th>RMAN</th>
        </tr>
    </thead>
    <tbody>
    {{for monitor in monitores:
        
		
		statusBD = '', (IMG(_src=URL(request.application,'static/plugin_useradmin','cancel-24.png'), 
						_title="No Config",
						_href=URL(r=request,f='index',vars=dict(approve=monitor.id)),
						_alt="OK"))
		if monitor.st_bd:
            statusBD = A(
						(IMG(
						_src=URL(request.application,'static/plugin_useradmin','up-24.png'), 
						_title="OK Detalle",
						_alt="OK")
						) 
			if monitor.st_bd=='up'
			else 
			
					IMG(
					_src=URL(request.application,'static/plugin_useradmin','down-24.png'), 
					_alt="Down", 
					_title="Falla Detalle",
					_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
			if monitor.st_bd == 'down'
			else
			
					IMG(
						_src=URL(request.application,'static/plugin_useradmin','accept.png'), 
						_alt="Approve monitor", _title="Detalle"), 
						_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
		
		 pass
		
		
		
		statusServicio = '', (IMG(_src=URL(request.application,'static/plugin_useradmin','cancel-24.png'), 
					_title="No Config",
					_href=URL(r=request,f='index',vars=dict(approve=monitor.id)),
					_alt="OK"))
		if monitor.st_servicio:
            statusServicio = A(
						(IMG(
						_src=URL(request.application,'static/plugin_useradmin','24-horas.png'), 
						_title="OK Detalle",
						_alt="OK")
						) 
			if monitor.st_servicio=='up'
			else 
			
					IMG(
					_src=URL(request.application,'static/plugin_useradmin','down-24.png'), 
					_alt="Down", 
					_title="Falla servicio",
					_href=URL(r=request,f='monitor',vars=dict(approve=1000))
					)
			if monitor.st_servicio == 'down'
			else
			
					IMG(
						_src=URL(request.application,'static/plugin_useradmin','accept.png'), 
						_alt="Approve monitor", _title="Detalle"), 
						_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
		
		 pass
		statusbackuplog = '', (IMG(_src=URL(request.application,'static/plugin_useradmin','cancel-24.png'), 
					_title="No Config",
					_href=URL(r=request,f='index',vars=dict(approve=monitor.id)),
					_alt="OK"))
		if monitor.st_backuplog:
            statusbackuplog = A(
						(IMG(
						_src=URL(request.application,'static/plugin_useradmin','up-24.png'), 
						_title="OK Detalle",
						_alt="OK")
						) 
			if monitor.st_backuplog=='up'
			else 
			
					IMG(
					_src=URL(request.application,'static/plugin_useradmin','down-24.png'), 
					_alt="Down", 
					_title="Falla Detalle",
					_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
			if monitor.st_backuplog == 'down'
			else
			
					IMG(
						_src=URL(request.application,'static/plugin_useradmin','accept.png'), 
						_alt="Approve monitor", _title="Detalle"), 
						_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
		
		 pass
		statusbackupfis = '', (IMG(_src=URL(request.application,'static/plugin_useradmin','cancel-24.png'), 
						_title="No Config",
						_href=URL(r=request,f='index',vars=dict(approve=monitor.id)),
						_alt="OK"))
		if monitor.st_backupfis:
            statusbackupfis = A(
						(IMG(
						_src=URL(request.application,'static/plugin_useradmin','almacenamiento.png'), 
						_title="OK Detalle",
						_alt="OK")
						) 
			if monitor.st_backupfis=='up'
			else 
			
					IMG(
					_src=URL(request.application,'static/plugin_useradmin','down-24.png'), 
					_alt="Down", 
					_title="Falla Detalle",
					_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
			if monitor.st_backupfis == 'down'
			else
			
					IMG(
						_src=URL(request.application,'static/plugin_useradmin','accept.png'), 
						_alt="Approve monitor", _title="Detalle"), 
						_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
		
		 pass
		statusRMAN = '', (IMG(_src=URL(request.application,'static/plugin_useradmin','cancel-24.png'), _alt="OK"))
		if monitor.st_rman:
            statusRMAN = A(
						(IMG(
						_src=URL(request.application,'static/plugin_useradmin','up-24.png'), 
						_title="OK Detalle",
						_alt="OK")
						) 
			if monitor.st_rman=='up'
			else 
			
					IMG(
					_src=URL(request.application,'static/plugin_useradmin','down-24.png'), 
					_alt="Down", 
					_title="Falla Detalle",
					_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
			if monitor.st_rman == 'down'
			else
			
					IMG(
						_src=URL(request.application,'static/plugin_useradmin','accept.png'), 
						_alt="Approve monitor", _title="Detalle"), 
						_href=URL(r=request,f='index',vars=dict(approve=monitor.id))
					)
		
		 pass
    }}

	{{=TR(
		TD(monitor.fecha.strftime('%B %d, %Y %H:%M:%S')),
		TD(monitor.servidor1),
		TD(link_tipobd(monitor.database)),
		TD(monitor.database1),
		#TD(link_servidor(monitor.servidor)),
		#TD(H2(link_database(monitor.database)),_class="click"),
        TD(statusBD),
		#TD(statusTBSP),
		TD(statusServicio),
		TD(statusbackuplog),
		TD(statusbackupfis),
		TD(statusRMAN)
        
        )}}
		
    {{pass}}
	
    </tbody>
</table>
