{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
  
   ///jQuery('#tab1').hide();
});
</script>



<div class="product_box2 margin_r_5" position="center">
{{=A(IMG( _src=URL(request.application,'static/images','pdf.png'),
          _alt="Reporte",
	  _title="Reporte",					
          _class="click",  _style="border:0;width:30px;height:30px"),
	  _href=URL(r=request,c='default',f='reporte_serv_pdf',vars=dict(basedato=basedato,buff=buff,sql=sql)))}}
</div>

<br>
<table id="tabla" class="smarttable">
<thead>
  <tr>
		<th>Servidor</th>
		{{if "ambiente" in buff:}}
		<th>Ambiente</th>{{pass}}
		{{if "conexion" in buff:}}
		<th>Conexión</th>{{pass}}
		{{if "bdt" in buff:}}
		<th>Base de Datos</th>{{pass}}
		{{if "version" in buff:}}
		<th>Versión</th>{{pass}}
		{{if "app" in buff:}}
		<th>Aplicación</th>{{pass}}
		{{if "responsable" in buff:}}
		<th>Responsable</th>{{pass}}
		{{pass}}
		
  </tr>
</thead>
<tbody>
{{for r in basedato:}}
{{cont=0}}
<tr>
<td >{{=r[cont]}}</td>
{{if "ambiente" in buff:}}
{{cont+=1}}
<td>{{=r[cont]}}</td>
{{pass}}
{{if "conexion" in buff:}}
{{cont+=1}}
<td>{{=r[cont]}}</td>
{{pass}}
{{if "bdt" in buff:}}
{{cont+=1}}
<td>{{=r[cont]}}</td>
{{pass}}
{{if "version" in buff:}}
{{cont+=1}}
<td>{{=r[cont]}}</td>
{{pass}}
{{if "app" in buff:}}
{{cont+=1}}
<td>{{=r[cont]}}</td>
{{pass}}
{{if "responsable" in buff:}}
{{cont+=1}}
<td>{{=r[cont]}}</td>
{{pass}}
</tr>
{{pass}}
</tbody>
</table>

<br>
<h3>Verificación de query</h3>

{{=DIV(BEAUTIFY(sql), _style="color:blue; font-size: 10px; font-stretch: extra-condensed;")}}

