{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}


{{regXpag=22}}
{{ths=(size/regXpag)+1}}

<div class="row">
<form enctype="multipart/form-data" action="{{=URL('default', 'rep_serv_conf')}}" method="post">
	
<p>Seleccionar Servidores</p><br>

<button type="button" style="background-color:white;color:blue;" onclick="sal()">Todos los servidores</button>
<button type="button" style="background-color:white;color:blue;" onclick="salopt()">Todas las opciones</button>



<table id="tabla" class="smarttable">
	<thead>
	<tr>
		{{for h in range(ths):}}
			<th style="text-align: center;">Servidores {{=h}}</th>
		{{pass}}	
		
		<!--<th>Servidores</th>-->
		<th>Opciones</th>
	</tr>
	</thead>
<tbody>
<tr>

{{control=0}}
{{reg=regXpag}}
{{ult_td=ths}}
{{tam=size}}

{{for j in range(ult_td):}}
<td>
	{{for i in range(control, reg):}}
		<input type="checkbox" class="servcb" name={{=servidores[i].nombre}} value={{=servidores[i].nombre}}>{{=servidores[i].nombre}}<br>
	{{pass}}
		Servidor del {{=control}} Al  {{=reg}} <!--{{=tam-reg}} -->
	{{if (tam-reg >= regXpag):}}
			{{control=reg+1}}
			{{reg=(reg+regXpag)+1}}
	{{else:}}	
			{{control=reg+1}}
			{{reg=tam}}
	{{pass}}
</td>
{{pass}}

<td>	


<input type="checkbox" class="servopt" name="ambiente" value="ambiente">Ambiente<br>
<input type="checkbox" class="servopt" name="bdt" value="bdt">Bases de Datos<br>
<input type="checkbox" class="servopt" name="version" value="version">Versión<br>
<input type="checkbox" class="servopt" name="conexion" value="conexion">Conexión<br>
<input type="checkbox" class="servopt" name="responsable" value="responsable">Responsable<br>
<input type="checkbox" class="servopt" name="app" value="app">Aplicación<br>
<input type="checkbox" class="servopt" name="rac" value="rac">RAC<br>

<br><br>
<button type="submit" style="background-color:white;color:red;">Enviar</button>
</td>

</tr>

<td>

</td>


</tr>

</tbody>
</table>
</form>

</div>

<script>
function salopt() {
	var cbl=document.getElementsByClassName("servopt");
	var t=false;
	for (var i = 0; i < cbl.length; ++i){
		if(cbl[i].checked === false){
			t=true;
		}
	}
	if(t){
  	for (var i = 0; i < cbl.length; ++i){ 
		cbl[i].checked = "checked"; 
		}
	}else{
		for (var i = 0; i < cbl.length; ++i){ 
		cbl[i].checked = false; 
		}
	}
}
function sal() {
	var cbl=document.getElementsByClassName("servcb");
	var t=false;
	for (var i = 0; i < cbl.length; ++i){
		if(cbl[i].checked === false){
			t=true;
		}
	}
	if(t){
  	for (var i = 0; i < cbl.length; ++i){ 
		cbl[i].checked = "checked"; 
		}
	}else{
		for (var i = 0; i < cbl.length; ++i){ 
		cbl[i].checked = false; 
		}
	}
}
</script>

