{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}

<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
  
   ///jQuery('#tab1').hide();
});
</script>


<div>
{{=sql}}
</div>

</div>
<h2>Reporte de Servidores por version</h2>
<br />
<table style="width: 100%" id="tabla" class="smarttable">
<thead>
  <tr>
		<th>Ambiente</th>
		<th>Servidor</th>
		<th>Tipo Conexión</th>
		<th>Base de Datos</th>
		<th>Versión</th>
		<th>Accion</th>
    		
		
  </tr>
</thead>
<tbody>
{{for basedato in basedatos:}}

<tr>
<td>{{=basedato[0]}}</td>
<td>{{=basedato[1]}}</td>
<td>{{=basedato[2]}}</td>
<td>{{=basedato[3]}}</td>
<td>{{=basedato[4]}}</td>
<td>
<div class="product_box2 margin_r_5" position="center">
{{=A(IMG( _src=URL(request.application,'static/images','pdf.png'),
          _alt="Cuentas",
	  _title="Cuentas SO",					
          _class="click",  _style="border:0;width:30px;height:30px"),
	  _href=URL(r=request,c='default',f=''))}}
</div>
</td>
</tr>
{{pass}}
</tbody>
</table>


