{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{extend 'layout.html'}}

<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
});
</script>
<p> Servidores monitoreados </p>
<div id="form">
<table id="tabla" class="smarttable">
<thead>
    <tr>
      <th>Servidores</th>
      <th>ST</th>
	  <th>Nro. de BD</th>
	  <th>{{=T(request.now.strftime('%B %d, %Y'))}}</th>
	  <th>Observacion</th>
    </tr>    
</thead>

<body>

{{for s1, s2, s3, s4 in yy:}}
{{if s2:
status = (
(IMG(_src=URL(request.application,'static/plugin_useradmin','flag_green.png'), _alt="SI")) 
if s2=='SI' else (IMG(_src=URL(request.application,'static/plugin_useradmin','cancel.png'), _alt="ERROR"))
)

}}
    <tr>
	<td colspan=1>{{=s1}}</td>
	<td colspan=1 align="center" ><b>{{=show_status(s2)}}</b></td>
	<td colspan=1 align="center" >{{=link_cant_bd(s4)}}</td>
	<td colspan=1 align="center" >{{=status}}</td>
	<td colspan=1>{{=s3}}</td>
	</tr>
	
{{pass}}
{{pass}}

</body>
</table>
</div>