{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{extend 'layout.html'}}
{{=script}}
<style>
.tooltip {
  position: relative;
  display: inline-block;
  #border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
<script>
jQuery(document).ready(function(){
    jQuery('.smarttable').dataTable(); 
     
});
</script>
<!--Busqueda:<a class="titulox" href="javascript: void(0)" onclick="window.open('busqueda', 
  'Listado de Claves', 
  'width=800, height=330, left=300,top=100'); 
   return false;">[click] </a> 
-->
<h4>Consulta de claves</h4>

<table style="width: 100% " id='todas_las_claves'  class="xxxsmarttable">
    <thead  >
        <tr>
            		<th>Servidor</th><th>IP</th>
			<th>RAC</th>
			<th>Tipo Conexion</th>

			
			<th style="color:blue">Usuario Servidor</th><th  type="password" style="color:blue">Claves Servidor</th>
				<th></th>
			
        </tr>
    </thead>
    <tbody>
 
    {{for clave in todas_las_claves:}}
		<tr>
			
			<td>{{=clave.servidores.nombre}}</td>
			<td>{{=clave.servidores.ip}}</td>
			<td>{{=show_status(clave.servidores.rac)}}</td>
			<td>{{=clave.servidores.tipoconex}}</td>
			
			<td>{{=clave.cuentas_so.cuenta}}</td>

<td class="tooltip"><h5>

			<input style="width:80%"  name="pass" id="pass" 		
				onclick="copiar(this.value)" 
				xonmouseleave="{this.style.fontSize = '12px'};{this.style.borderColor = ''};{ this.type = 'password' }; {this.style.background =''}; {this.style.color=''}" 
				onfocusout="{this.style.fontSize = '12px'};{this.style.borderColor = ''};{ this.type = 'password' }; {this.style.background =''}; {this.style.color=''}"  
				type="password" 
				maxlength="8" 
				alt="Mostrar Clave"
				value="{{=clave.cuentas_so.clave}}" /> </h5>
				<span class="tooltiptext"> Click para <b>Copiar Clave</b></span>
			
</td>	
<td>
{{=A(IMG( _src=URL(request.application,'static/images','llave.png'),
          _alt="",
	  _title="",					
          _class="click",  _style="border:0;width:20px;height:20px"),
	  '')}}		
</td>
		</tr>
	
    {{pass}}
    </tbody>
</table>
<script type="text/javascript">
function ejecutar(idelemento){
  var txt = $('idelemento').val();//#clipboard es el campo de texto por ejemplo
  txt.select();//se selecciona en contenido del campo de texto
  document.execCommand("copy");//copiamos el contenido
  //alert('Clave=' + txt);
}
function copiar(val) {
  //simula el clipboard
  var textArea = document.createElement('textarea');
  textArea.style.position = 'absolute';
  textArea.style.opacity = '0';
  textArea.value = val;
  document.body.appendChild(textArea);
  textArea.select();
  var successful = document.execCommand('copy');
  var msg = successful ? 'successful' : 'unsuccessful';
  console.log('Copying text command was ' + msg);
  document.body.removeChild(textArea);
  //var copi = document.getElementById(pass).value;
  //copi.select();
  //copi.setSelectionRange(0, 99999)
  //document.execCommand('copy');
  //alert("Copied the text:"+val);
  alert('Clave copiada');
}
function pregunta() {
return confirm('¿Estas segur@ de ejecutar ?');
}
</script>
<!--			<td class="tooltip"><h5>
			<input  style="width:80%" name="pass" id="pass" 		
				onclick="if(this.type='password'){ this.type = 'text' ; this.style.fontSize = '12px'; this.style.borderColor = 'black'; this.style.background ='#44A2FF'; this.style.color='black'}" 
				xonmouseleave="{this.style.fontSize = '9px'};{this.style.borderColor = ''};{ this.type = 'password' }; {this.style.background =''}; {this.style.color=''}" 
				onfocusout="{this.style.fontSize = '9px'};{this.style.borderColor = ''};{ this.type = 'password' }; {this.style.background =''}; {this.style.color=''}"  
				type="password" 
				maxlength="15" 
				alt="Mostrar Clave"
				value="{{=clave.cuentas_so.clave}}" /> </h5>
			<span class="tooltiptext"> Mostrar Clave</span>
			
			</td> -->
