<html>
{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
<script type="text/javascript" src="../static/jquery.js"></script>
<script type="text/javascript" src="../static/jquery-impromptu.3.0.min.js"></script>
{{extend 'layout.html'}}

{{=script}}


<br /><br />
<table style="width: 100%" id="user_conn" class="xxsmarttable">
<thead>
<tr>
		<th>Nombre</th>
		<th>Apellido</th>
		
</tr>
</thead>
<tbody>
{{for c in conectados:}}
<tr>
<td>{{=c.first_name}}</td>
<td>{{=c.last_name}}</td>
</tr>
{{pass}}
</tbody>
</table>
</html>
