{{extend 'layout.html'}}

<style>
body{
    background-color:   #8877e1 ; #9388cd; original#40b5e1; 
    text-align:center;
    color: white;
}
body .form_wrapper{

    display:inline-block;
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    padding: 15px 18px;
    margin: 10% auto;
    margin-left: auto;
    margin-right: auto;
    color: #5F9EA0;
} 

form {
    display:table;/* shrinks to fit content */
    margin:auto;
    color: white;
}

.content {
  max-width: 500px;
  margin: center;
}

.efecto_3d {
    width: 1100px;
    height: 350px;
    border: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    /*transform: perspective(1000px) rotateY(-5deg);*/
    /*transition: transform 0.5s ease, box-shadow 0.5s ease;*/
}

</style>

<h2 class="titulo_ppal">Servicio Nacional Integrado de Administración Aduanera y Tributaria (SENIAT)</h2>
<h2 class="titulo_ppal">División de base de datos</h2><br/>
<h2 class="titulo_ppal">Sistema de Inventario y Monitoreo</h2><br/>

<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<div class="#content" id="web2py_user_form">
{{if form is None or request.args(0)=='not_authorized':}}
	<p>Usuario no autorizado, comuníquese con el administrador de la aplicación</p>
{{else:}}


  {{=form}} 
  <img class="efecto_3d sombra_concentrica" src="{{=URL(r=request,c='static/images',f='bd23.png')}}" />

  {{if request.args(0)=='login':}}
  	{{if not 'register' in auth.settings.actions_disabled:}}
 		 <br/>
		  <a href="{{=URL(args='register')}}">{{=T('Register')}}</a>
  		{{pass}}
  	{{if not 'request_reset_password' in auth.settings.actions_disabled:}}
  		<br/>
  		<a href="{{=URL(args='request_reset_password')}}">{{=T('Lost Password')}}</a>
  		{{pass}}
  {{pass}}
{{pass}}
</div>

<script language="javascript"><!--
      jQuery("#web2py_user_form input:visible:enabled:first:last").focus();
      //--></script>

