{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{extend 'layout.html'}}


{{=script}} 

<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
});
</script>

<style type="text/css">

.fadeIn{
    display: none;
}

.miDiv
{
	display: inline-block;
}

}

</style>
	<legend>
			BITÁCORA DE ACTIVIDADES ABIERTAS
	</legend>


<br/>

<div class="row miDiv"  >
<table id='bitacora' style = "width: 100%" class="table-bordered table-striped " border="1px">
	<col style="width: 5%;"></col>
	<col style="width: 2%;"></col>
	<col style="width: 5%;"></col>
	<col style="width: 10%;"></col>
	<col style="width: 10%;"></col>
	<col style="width: 5%;"></col>
	<col style="width: 5%;"></col>
	<col style="width: 20%;"></col>
	<col style="width: 6%;"></col>
	<col style="width: 5%;"></col>
	<col style="width: 5%;"></col>
	<col style="width: 3%;"></col>
	<col style="width: 3%;"></col>
	

<thead>
    <tr>
    <th>Consultor</th>
    <th>ID</th>
	<th>Ambiente</th>
	<th>Proyecto</th>
	<th>Subproyecto</th>
	<th>Servidor</th>
	<th>BD</th>
	<th>Actividad</th>
	<th>Fecha</th>
	<th>Tipo</th>
	<th>Status</th>
	<th colspan="2">Accion</th>
    </tr>    
</thead>
<tbody>
{{for datos in rows:}}

{{des_tipo='REMOTO'}}
{{if datos.tipo=='P':
	des_tipo='PRESENCIAL'
}}
{{pass}}

<tr>
<td>{{=datos.analista.first_name+' '+datos.analista.last_name}}</td>
<td>{{=datos.id}}</td>
<td>{{=datos.ambiente_id.descri}}</td>
<td>{{=datos.cod_proy.descri}}</td>
<td>{{=datos.cod_subp.descri}}</td>
<td>{{=datos.cod_servidor.nombre}}</td>
<td>{{=ds_bd(datos.cod_bd)}}</td>
<td>{{=datos.descripcion}}</td>
<td>{{=datos.fecha_inicio}}</td>
<td>{{=des_tipo}}</td>
<td>{{=datos.completado}}</td>
{{=
TD(A(
                IMG(
                    _src=URL(request.application,'static/images','agregar-actividad.jpg'),
                    _alt="Agregar",
					_title="Agregar subactividad",					
                    _class="click imagenes",
                    _style="border:2;width:40px;height:40px"
                ),
               _href=URL(r=request,c='bitacora',f='agregar_subactividad',vars=dict(actividad_id=datos.id,proyecto=datos.cod_proy.descri, 
               subproyecto=datos.cod_subp.descri, desc=datos.descripcion)) 
            ),
TD(A(
                IMG(
                    _src=URL(request.application,'static/images','cerrar-actividad.jpg'),
                    _alt="Cerrar",
					_title="Cerrar actividad",					
                    _class="click imagenes",
					_id='cerrar',
					_style="border:2;width:40px;height:40px"
                ),
                _href=URL(r=request,c='bitacora',f='status_actividad',vars=dict(actividad_id=datos.id, st='CERRADA'))
            )),
TD(A(
                IMG(
                    _src=URL(request.application,'static/images','abrir-actividad.jpg'),
                    _alt="Abrir",
					_title="Abrir actividad",					
                    _class="click imagenes",
					_id='cerrar',
					_style="border:2;width:40px;height:40px"
                ),
                _href=URL(r=request,c='bitacora',f='status_actividad',vars=dict(actividad_id=datos.id, st='ABIERTA'))
            ))

)}}
</tr>
{{pass}}
</tbody>
</table>
</div>
