{{response.files.append(URL(r=request,c='static',f='tooltip/script.js'))}}
{{response.files.append(URL(r=request,c='static',f='tooltip/style.css'))}}
{{extend 'layout.html'}}


{{=script}} 

<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
});
</script>

<style type="text/css">

.fadeIn{
    display: none;
}

<style type="text/css">
    /* Estilos personalizados */
    .texto {
        font-size: 12px; 
        text-align: center;
        vertical-align: middle;
    }
    .color {
        font-size: 12px; 
        color: red;
        font-weight: bold;
    }
    .dataTables_wrapper {
        margin-top: 10px;
    }
    #subactividades {
        width: 100% !important;
    }
    .table-header {
        background-color: #f8f9fa;
        font-weight: bold;
    }
    .edit-icon {
        width: 15px;
        height: 15px;
        border: 0;
    }
    .table-responsive {
        overflow-x: auto;
    }
</style>


</style>
	<legend>
			BITÁCORA DE ACTIVIDADES ABIERTAS
	</legend>


<br/>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="bitacora_actividades_sd" class="table table-bordered table-striped">
                <thead>
                    <tr class="table-header">
                        <th>Consultor</th>
                        <th>ID</th>
                        <th>Ambiente</th>
                        <th>Proyecto</th>
                        <th>Subproyecto</th>
                        <th>Servidor</th>
                        <th>BD</th>
                        <th>Actividad</th>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Status</th>
                        <th colspan="2">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {{for datos in rows:}}
                        {{des_tipo='REMOTO'}}
                        {{if datos.tipo=='P': des_tipo='PRESENCIAL'}}
                        
                        {{status_class='status-pending'}}
                        {{if datos.completado=='COMPLETADO': status_class='status-completed'}}
                        
                        <tr>
                            <td>{{=datos.analista.first_name+' '+datos.analista.last_name}}</td>
                            <td>{{=datos.id}}</td>
                            <td>{{=datos.ambiente_id.descri}}</td>
                            <td>{{=datos.cod_proy.descri}}</td>
                            <td>{{=datos.cod_subp.descri}}</td>
                            <td>{{=datos.cod_servidor.nombre}}</td>
                            <td>{{=ds_bd(datos.cod_bd)}}</td>
                            <td>{{=datos.descripcion}}</td>
                            <td>{{=datos.fecha_inicio}}</td>
                            <td>{{=des_tipo}}</td>
                            <td class="{{=status_class}}">{{=datos.completado}}</td>
                            <td>
                                <a href="{{=URL('bitacora','agregar_subactividad', vars=dict(actividad_id=datos.id, proyecto=datos.cod_proy.descri, subproyecto=datos.cod_subp.descri, desc=datos.descripcion))}}" 
                                   title="Agregar subactividad">
                                    <img src="{{=URL('static','images/agregar-actividad.jpg')}}" 
                                         class="action-icon" 
                                         alt="Agregar">
                                </a>
                            </td>
                            <td>
                                <a href="{{=URL('bitacora','status_actividad', vars=dict(actividad_id=datos.id, st='CERRADA'))}}" 
                                   title="Cerrar actividad" 
                                   onclick="return confirm('¿Está seguro de cerrar la actividad?');">
                                    <img src="{{=URL('static','images/cerrar-actividad.jpg')}}" 
                                         class="action-icon" 
                                         alt="Cerrar">
                                </a>
                            </td>
                        </tr>
                    {{pass}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
function valida(){
	var respuesta;
	if (confirm("Esta seguro de cerrar la actividad ?") == true ){
		respuesta = "Confirmado";
		return true;

	} else {
		respuesta = "No";
		return false;
	}
}	
</script>


