{{extend 'layout.html'}}
{{=script}}


<style type="text/css">
    /* Estilos personalizados */
    .texto {
        font-size: 12px; 
        text-align: center;
        vertical-align: middle;
    }
    .color {
        font-size: 12px; 
        color: red;
        font-weight: bold;
    }
    .dataTables_wrapper {
        margin-top: 10px;
    }
    #subactividades {
        width: 100% !important;
    }
    .table-header {
        background-color: #f8f9fa;
        font-weight: bold;
    }
    .edit-icon {
        width: 15px;
        height: 15px;
        border: 0;
    }
    .table-responsive {
        overflow-x: auto;
    }
</style>


<div class="row container">
    <legend>GESTIÓN DE SUB-ACTIVIDADES</legend>
    <div class="col-md-12">
        <br />
        
        <div class="table-responsive">
            <table id="list_subactividades_sd" class="table table-striped table-bordered">
                <thead>
                    <tr class="table-header">
                        <th>ID</th>
                        <th>Consultor</th>
                        <th>Tipo actividad</th>
                        <th>Subactividad</th>
                        <th>Servidor</th>
                        <th>BD</th>
                        <th>Actividad</th>
                        <th>Bitacora</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Total</th>
                        <th>Tipo</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {{for f in rows:}}
                        {{des_tipo='REMOTO'}}
                        {{if f.tipo=='P': des_tipo='PRESENCIAL'}}
                        
                        {{=TR(
                            TD(f.id, _class="texto"),
                            TD(f.analista.first_name+' '+f.analista.last_name, _class="texto"),
                            TD(f.cod_proy.descri, _class="texto"),
                            TD(f.cod_subp.descri, _class="texto"),
                            TD(f.cod_servidor.nombre, _class="texto"),
                            TD(ds_bd(f.cod_bd), _class="texto"),
                            TD(f.actividad_id.descripcion, _class="texto"),
                            TD(f.descripcion, _class="texto"),
                            TD(f.fecha_inicio, _class="texto"),
                            TD(f.fecha_fin, _class="texto"),
                            TD(f.horas_laboradas, _class="texto"),
                            TD(des_tipo, _class="texto"),
                            TD(
                                A(
                                    IMG(
                                        _src=URL(request.application,'static/images','edit-1.ico'),
                                        _alt="Editar",
                                        _title="Editar Subactividad",
                                        _class="edit-icon"
                                    ),
                                    _href=URL(r=request,c='bitacora',f='editar_subactividades_sd',args=[f.id]),
                                    _class="texto"
                                )
                            )
                        )}}
                    {{pass}}
                </tbody>
            </table>
        </div>
    </div>
</div>

