
th, td {
  border-color: blue;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  //font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
   background-color: #8877e1;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 48px;
  height: 22px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}



 
#midiv { text-align: center; } 

select, option {
    width: 200px;
}

#botones{
        background-color: #40b5e1 ;
        width:100%;
        text-align: right;
        padding: 10px 10px;
        border-collapse: collapse;
}
#act{
        height:100%;
        background-color:white;
        width:100%;
         
 }

#pie{
        height:20%;
        background-color:#D3D1C1;
        clear:both;
}

#bd{
        height:10%;
        background-color:#BDD2EF;
        float:right;
        width:30%;
        overflow: hidden;
        border: blue 3px solid;
        overflow: auto;
}

#option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.form-box {
  padding: 8px; /*makes it look neat*/
  border-radius: 4px; /*or 2px*/
  border: 1px solid red;
}

.miDiv {
  border: 3px outset #afc0c7;
  background-color: #95abb4;    
  text-align: center;
}

textarea {
  resize: none;
}

textarea:invalid {
  border: 2px dashed red;
}

textarea:valid {
   border: 2px solid lime;
}

table {
  border-collapse: collapse;}
}

caption {
  font-family: 'Rock Salt', #cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;}
}

.texto {font-size: 12px; font-family: '-apple-system', #cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}

label {
  #color: white;
  padding: 8px;
  font-size: 12px; font-family: '-apple-system ', #cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}
}


input {
  font-size: 12px; font-family: '-apple-system ', #cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}
}

select {
  font-size: 12px; font-family: '-apple-system ', #cursive; caption-side: bottom; text-align: left;  letter-spacing: 0px;}
}


.select {
  width: 100%;
  min-width: 15ch;
  max-width: 35ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}


.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */


.imagen {
  width: 8%;
  text-align: center;
}
.botones {
  width: 8%;
  text-align: right;
}

.titulo {
  #font-family: -apple-system, Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: underline;
  color: #333333;
}

.boton {
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;
}
.boton:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}
.boton:hover:before {
width: 100%;
}

.boton:hover {
  background: #318aac;
  color: #fff !important;
}



.float-container {
    border: 2px solid #fff;
    padding: 3px;
    font-size: 13px;
    width: 100%;
}

.float-xchild {
    width: 100%;
    float: center;
    padding: 5px;
    border: 2px solid red;
}  

#container {width:100%; text-align:left; background-color: rgb(10, 68, 87);}

.center {
    #display: inline-grid; #flex;
    justify-content: center;
    align-items: center;

}

.fadeIn{
    display: none;
    #border: 1px ouset red;
    #background-color: lightblue;
    padding: 0px 0px;
    width: 100%;
    height: 18px;
    #box-shadow: 8px 8px 5px #444;
}

.textarea {
  display: flex;
  align-items: center;
  #vertical-align: center;
}

.pushable {
  background: hsl(210deg 100% 32%);
  border : none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 1.0rem;
  background: hsl(215deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:focus:not(:focus-visible){
  outline: none;
}

.pushable:hover .front{
  transform: translateY(-6px);
}

.pushable:active .front{
  transform: translateY(-2px);
}

.div-1 {
    width: 100%;
    height: 10px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 1px;
}

.div-2 {
    width: 100px;
    height: 100px;
    box-shadow: width:100%;height: 100%;box-shadow: 0 0 5px #aaa inset;
    border-radius: 10px;
}

.custom-select {
  position: relative;
  font-family: Arial;
  cursor: pointer;
  padding: 3px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: dodgerblue;
}

input[type=datetime-local]{
  padding: 7px;
  border-radius: 4px;
  border-color: lightblue;
}

input[type=text]{
  padding: 7px;
  border-radius: 4px;
  border-color: lightblue;
}

input[type=checkbox]{
  padding: 1px;
  border-radius: 1px;
  border-color: lightblue;
}

textarea{
  border-radius: 4px;
  border-color: lightblue;
}

.form-label {
  font-size: 1.2rem; /* Ejemplo: 20px */
  font-weight: 600;  /* Negrita */
}
